@media screen and (min-width: 600px) {

    hr {
        display: block !important;
    }

    section {
        padding: 0 8.75rem !important;
    }

    .container__icons {
        display: none !important;
    }

    .apresentacao {
        flex-direction: row !important;
        align-items: center;
        height: 75vh;
    }

    .apresentacao__avatar{
        min-width: 7rem;
    }

    .apresentacao_elemento:nth-child(1) {
        order: 2;
    }

    .apresentacao_elemento:nth-child(2) {
        order: 1;
    }

    .apresentacao_elemento:nth-child(3) {
        order: 3;
    }

    .apresentacao__conteudo__titulo {
        font-size: 3.25rem;
    }

    .apresentacao__conteudo__text {
        font-size: 1.25rem;
    }

    .tag {
        width: 10rem !important;
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__icons {
        display: flex !important;
        justify-content: flex-start !important;
        padding-top: 2rem;
    }

    .apresentacao_elemento {
        flex-grow: 1;
    }

    .apresentacao__contato {
        justify-content: end;
    }

    .cards__display {
        flex-direction: row !important;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6.25rem 0;
        justify-content: center;
        gap: 2rem;
    }

    .cards__skills {
        display: flex !important;
    }

    .sobre {
        flex-direction: row !important;
        gap: 10rem !important;
        align-items: center;
        margin: 8.5rem 0;
        justify-content: center;
    }

    .sobre__imagem {
        width: 65% !important;
        height: 65% !important;
        max-width: 30rem ;
        min-width: 10rem;
        max-height: 31rem;
        margin: 0 0 !important;
    }

    .sobre__text-mobile {
        display: none !important;
    }

    .sobre__text-desktop {
        display: block !important;
    }

    .sobre__titulo-mobile {
        display: none !important;
    }

    .sobre__titulo-desktop {
        display: block !important;
    }

    .sobre__titulo{
        font-size: 3rem !important;
    }

    .sobre__text {
        font-size: 1.25rem !important;
    }

}