.rodape {
    background-color: var(--cor-pricipal-10);
    width: 100vw;
    height: 4.5rem;
    padding: 1rem 0;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.rodape__text{
    padding-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--branco-50);
}