
.cabecalho {
    background-color: var(--cor-principal-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: 2.40rem 7vw;
    border-radius: 1rem;
    display: none;
}

.cabecalho__opcoes{
    display: flex;
    gap: 1rem;
    padding-right: 1.5rem;
}

.cobecalho__opcoes__text{
    text-align: center;
    text-decoration: none;
    color: var(--branco-50);
    font-size: 1em;
}

.cobecalho__opcoes__text:hover{
    color: var(--cor-principal-50);
}

.cabecalho__logo{
    padding: 0.8rem 0 0.8rem 1.5rem;
    width: 55%;
    height: 65%;
}

@media screen and (min-width: 600px) {
    .cabecalho{
        display: flex;
    }
}
