@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(conteudoDesktop.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root {
    --branco: #FFFFFF;
    --branco-50: #ffffff80;
    --cor-background: #090E16;
    --cor-principal: #7B4AE2;
    --cor-principal-50: #7b4ae280;
    --cor-principal-10: #7b4ae21a;
    --cor-principal-5: #7b4ae20d;

    --fonte-principal: 'Raleway', sans-serif;
}

body {
    background-color: var(--cor-background);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

hr {
    border: 1px solid var(--cor-principal-10);
    width: 99.9%;
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 2rem 4rem;
}

.icons {
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.container__icons {
    padding-top: 2rem;
}

.apresentacao__conteudo__icons {
    display: none;
}

.tag {
    width: 7.625rem;
    padding: 0.5rem 0.6rem;
    background-color: var(--cor-principal-10);
    border-radius: 0.5rem;
    color: var(--cor-principal);
    font-weight: 700;
    text-align: center;
}

.apresentacao__avatar {
    width: 100%;
    height: 100%;
}

.apresentacao__conteudo__titulo {
    color: var(--branco);
    font-weight: 800;
    font-size: 3rem;
    padding: 1rem 0;
}

.apresentacao__conteudo__text {
    color: var(--branco-50);
    font-size: 1.12rem;
}

.apresentacao__contato {
    display: flex;
    gap: 1rem;
}

.apresentacao__contato__cv,
.apresentacao__contato__whatsapp {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--cor-principal-50);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.apresentacao__contato__whatsapp {
    border-radius: 0.5rem;
    border: 1px solid var(--cor-principal-50);
    padding: 0.75rem 0.65rem;
}

.apresentacao__contato__whatsapp:hover {
    background-color: var(--cor-principal-10);
}

.apresentacao__contato__cv:hover {
    color: var(--cor-principal);
}

.cards__display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15.375rem;
    height: 12.5rem;
    border-radius: 1rem;
    border: 1px solid var(--cor-principal-50);
}

.cards__container__card {
    text-align: center;
}

.cards__container__card > h2 {
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 700;
}

.cards__container__card > p {
    color: var(--branco-50);
    font-size: 1rem;
    font-weight: 400;
}

.card-trabalhos {
    background-color: var(--cor-principal-10);
}

.cards__skills {
    background-color: var(--cor-principal-10);
    display: none;
    width: 100%;
    height: 7rem;
    max-width: 48rem;
    border-radius: 1rem;
    padding: 0 1rem;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
}

.cards__skills__text {
    color: var(--cor-principal);
    text-align: center;
}

.cards__skills__text > p {
    font-weight: 400;
    font-size: 1em;
    word-wrap: break-word;
}


.cards__skills__text > h3 {
    font-weight: 700;
    font-size: 2em;
    word-wrap: break-word;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
}

.sobre__imagem {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 2rem;
}

.sobre__text {
    color: var(--branco-50);
    text-align: justify;
    line-height: 1.5625rem;
    margin-top: 1.5rem;
}

.sobre__text-desktop {
    display: none;
}

.sobre__titulo {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.sobre__titulo-desktop {
    display: none;
}

@media screen and (min-width: 600px) and (max-width: 807px) {
    .cards__skills__text > p {
        font-size: 0.8em;
    }

    .cards__skills__text > h3 {

        font-size: 1.2em;
    }
}